@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<div id="slick-app" style="width:80%;margin: auto;">Loading...</div>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
